{%extends 'base.html'%}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>Riot Map</h1>
    <div id="map"></div>
    <div class="uk-container uk-margin-large-bottom uk-margin">
    <script>

      function initMap() {
        // map options
        var options={
          zoom: 14,
          center: new google.maps.LatLng(-1.2920659,36.821946199999),
        }
        // new map
          var map=new
          google.maps.Map(document.getElementById('map'),options);
          // add marker
          var marker=new google.maps.Marker({
            position:{lat:-1.3004799, lng:36.7845519},

            map:map

          })
          var marker=new google.maps.Marker({
            position:{lat: -1.314038 , lng: 36.784605},

            map:map

          })
          var marker=new google.maps.Marker({
            position:{lat: -1.285979 , lng: 36.825142},

            map:map

          })
          var marker=new google.maps.Marker({
            position:{lat:  -1.273851 , lng: 36.857493
},

            map:map

          })

        };

  </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbdxQHhGhHcKUZ80L0Oa0ZbKBYAToHqcQ&callback=initMap">  </script>
    </script>
  </div>
  </body>
</html>



{% endblock %}
